body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #262626;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

.center h1 {
    width: 90%;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing:  2px;
}

.center .skillBox {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skillBox p {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.skill {
    background-color: #262626;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid #0fffb7;
    border-radius: 3px;
}

.skill_level {
    height: 10px;
    background-color: #0fffb7;
}